@tailwind base;
@tailwind components;
@tailwind utilities;

/*? --------------- Buttons --------------- */

.pink-button {
  @apply text-black bg-pink rounded-lg text-center transition-all duration-300;
}

.pink-button:hover {
    @apply pr-2; /* Increase padding to make the button wider */
}

/* .blue-button {
  @apply text-light-yellow bg-normal-blue rounded-lg p-2 text-center transition-all duration-300;
}

.blue-button:hover {
  @apply pl-2 pr-4; /* Increase padding to make the button wider 
} */

/*! ------------ ScrollBar Styles ------------ */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7209B7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F72585;
}
  
  /*? --------------- Navbar Links --------------- */
.desktop-nav div::after {
    content: "";
    position: absolute;
    display: block;
    height: 3.5px;
    width: 0%;
    background-color: #F72585;
    transition: all ease-in-out 250ms;
  }
  .desktop-nav div:hover::after {
    width: 80%;
  }

  /*? --------------- Classes Table --------------- */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-body tr:nth-child(even) {
  background-color: #4CC9F0;
}

.table-body tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-body tr:hover:nth-child(even) {
  background-color: #3A0CA3;
  color:#FFFFFF;
}

.table-body {
  cursor: pointer;
}

.table-body th,
.table-body td {
  border: 2px solid #000;
  padding: 8px;
  text-align: left;
}

.table-head tr th {
  padding: 8px 12px 8px 12px;
  border: 2px solid #000;
}

@media (max-width: 768px) {
  .table-head th {
    font-size: 0.8rem;
  }
  .table-body th,
  .table-body td {
    padding: 2px 4px;
    font-size: 0.85rem;
  }
}

@media (max-width: 640px) {
  .table-head th {
    font-size: 0.8rem;
  }
  .table-body th,
  .table-body td {
    padding: 1px 2px;
    font-size: 0.8rem;
  }
}

  /*? --------------- Popup Box --------------- */

.custom-popup {
  background-color: #F72585; /* pink */
  padding: 20px;
  border-radius: 8px;
  color: white;
  width:700px;
}

.custom-popup .close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.custom-popup .header {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.custom-popup .content label {
  display: block;
  margin-top: 10px;
}

.custom-popup .content input,
.custom-popup .content select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #3A0CA3; /* blue */
  color: white;
  border: 1px solid #800080; /* purple */
  border-radius: 5px;
}

.custom-popup .actions {
  display: flex;
  justify-content: space-between;
}

.custom-popup .actions button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  background-color: #3A0CA3; 
  color: #FFFFFF; 
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-popup .actions .button:hover {
  background-color: #FFD700; /* slightly different yellow for hover effect */
}

/*? --------------- For print as pdf --------------- */
@media print {
  .printableArea {
    padding: 2rem
  }
}